@import "~bootstrap/scss/bootstrap";

// Dark mode styles
body.dark-mode {
  background-color: #333;
  color: #f1f1f1;
}

.dark-mode a {
  color: #6db8ff;
}

// Add any other dark mode styles as needed
